* {
  font-family: Worksans, sans-serif !important;
}

html {
  font-size: 62.5%;
  /* font-size: 10px; */
}

body {
  font-style: normal;
  font-weight: normal;
  color: #2b292d;
}

.container {
  width: 100%;
}

.header,
.info,
.features,
.team-inbox,
.communicate,
.visitors,
.hiring,
.free-trial,
.footer {
  max-width: 1440px;
  margin: 0 auto;
}
